
{{#each productos}}
    <tr>
        <td class="align-middle">{{this.title}}</td>
        <td class="align-middle">{{this.price}}</td>
        <td class="align-middle text-center"><img src="{{this.thumbnail}}" width="20%" alt="MDN"></td>
    </tr>
{{/each}}